/*  Color pallett */
:root {
    --primary-color: #C3E8BD;
    /* Tea green */
    --secondary-color: #BFE2FF;
    /* Uranian blue */
    --tertiary-color: #F4DADA;
    /* Misty Rose */
    --accent-color: #9370DB;
    /* Amethyst */
    --fourth-color: #008000;
    /* Pine Green */
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--primary-color);
    font-family: "Zain", sans-serif;
    font-size: 1.25rem;
    width: 100%;
}

.navbar {
    min-height: 48px;
    position: fixed;
    width: 100%;
}

.navbar .nav-link {
    color: var(--fourth-color);
    font-family: "Lexend", sans-serif;
    font-size: 1.25 rem;
    align-items: center;
}

.navbar .nav-link:hover {
    color: var(--accent-color);
}

.navbar-brand {
    color: var(--fourth-color);
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    font-size: 1.75rem;
    pointer-events: none;
    text-decoration: none;
    position: relative;
}

.navbar-brand img {
    max-height: 36px;
    margin-top: 0;
    object-fit: contain;
    height: 32px;
    width: auto;
    margin-right: 12px;
}

.navbar #donate-btn {
font-size: 1.5rem;
font-weight: 500;
align-items: center;
    background-color: var(--primary-color);
    color: var(--fourth-color);
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    margin-top: 2px;
}
.navbar #donate-btn:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border: var(--accent-color) 1px solid;
}

.navbar #contact-btn {
font-size: 1.5rem;
font-weight: 500;
align-items: center;
    background-color: var(--secondary-color);
    color: var(--fourth-color);
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    margin-top: 2px;
}
.navbar #contact-btn:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border: var(--accent-color) 1px solid;
}

#hero img {
    object-fit: cover;
    object-position: 0 20%;
}


header {
    color: var(--accent-color);
    background-color: var(--secondary-color);
    padding: 1rem;
    text-align: center;
}

#hero {
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 20%;
}

#jumbotron-text {
    background: transparent;
    left: 15%;
    top: 50%;
    transform: translate(0, 0);
    overflow: hidden;
    white-space: nowrap;
}

.shadow-text {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.bg-tea-green {
    background-color: var(--primary-color);
}

.bg-uranian-blue {
    background-color: var(--secondary-color);
}

.bg-misty-rose {
    background-color: var(--tertiary-color);
}


#tips-section i {
    font-size: 2.5rem;
}

#resource-links {
    align-content: end;
}

#resource-links .btn {
    height: 200px;
    align-content: end;
}

#resource-links img{
    object-fit:cover;
    overflow: hidden;
    max-height:125px;
    max-width: 100%;
}

#contact-us-modal {
    font-size: 1.25rem;
}

footer {
    margin-top: auto;
    color: var(--fourth-color);
}

footer a {
    text-decoration: none;
}


@media screen and (max-width: 576px) {
    .navbar-brand {
        font-size: 1.25rem;
    }

    #hero img {
        object-position: 30% 10%;
    }

    #jumbotron-text {
        left: 0%;
        text-align: end !important;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .navbar-brand {
        font-size: 1.5rem;
    }

    #hero img {
        object-position: 30% 10%;
    }

    #nav-container {
        width: 100%;
    }

    #jumbotron-text {
        left: 0%;
        text-align: center;
    }
}