/*  Color pallett */
:root {
    --primary-color: #C3E8BD;
    /* Tea green */
    --secondary-color: #BFE2FF;
    /* Uranian blue */
    --tertiary-color: #F4DADA;
    /* Misty Rose */
    --accent-color: #9370DB;
    /* Amethyst */
    --fourth-color: #008000;
    /* Pine Green */
}

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: "zain", sans-serif;
    font-size: 1.25rem;
}

.navbar {
    min-height: 48px;
}

.navbar .nav-link {
    color: var(--fourth-color);
    font-family: "Lexend", sans-serif;
    font-size: 1rem;
}

.navbar-brand {
    color: var(--fourth-color);
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    font-size: 1.75rem;
    pointer-events: none;
    text-decoration: none;
    position: relative;
}

.navbar-brand img {
    max-height: 36px;
    margin-top: 0;
    object-fit: contain;
    height: 32px;
    width: auto;
    margin-right: 12px;
}

#hero img {
    object-fit: cover;
    object-position: 0 20%;
    height: 100%;
    width: 100%;
}


header {
    color: var(--accent-color);
    background-color: var(--secondary-color);
    padding: 1rem;
    text-align: center;
}

#jumbotron-text {
    background: transparent;
    left: 15%;
    top: 50%;
    transform: translate(0, 0);
}

.shadow-text {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.bg-tea-green {
    background-color: var(--primary-color);
}

.bg-uranian-blue {
    background-color: var(--secondary-color);
}
.carousel-inner {
    max-height: 80vh;
    object-fit: cover;
    overflow: hidden;
}

footer {
    margin-top: auto;
    color: var(--fourth-color);
}

footer a {
    text-decoration: none;
}


@media screen and (max-width: 576px) {
    .navbar-brand {
        font-size: 1.25rem;
    }

    #hero img {
        object-position: 30% 10%;
    }

    #jumbotron-text {
        left: 0%;
        text-align: end !important;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .navbar-brand {
        font-size: 1.5rem;
    }

    #hero img {
        object-position: 30% 10%;
    }

    #nav-container {
        width: 100%;
    }

    #jumbotron-text {
        left: 0%;
        text-align: center;
    }
}